/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
}

.container {
    height: calc(100vh - 90px);
}

main {
    display: flex;
    height: 100%;
}

.column-left {
    width: 20%;
    height: 100%;
}

.column-right {
    width: 80%;
    height: 100%;
}
/* Sidebar */
.sidebar {
    background-color: chocolate;
    /* background-color: #000; */
    height: 100%;
}

.sidebar-container {
    display: flex;
    width: 95%;
    margin: 0px 15px;
}

.logo {
    padding-top: 20px;
    width: 125%;
}
/* Sidebar Top */
/* .side-top, .side-center, .side-bottom {
    display: flex;
    flex-direction: column;
} */


.side-top>ul {
    margin-top: 20px;
    list-style: none;
    line-height: 30px;
}

.side-top>ul>li>a {
    text-decoration: none;
    color: #6b6b6b;
}

.side-top>ul>li>a>img {
    width: 25%;
}

.side-top>ul>li>.home {
    color: #fff;
}
/* /Sidebar Top */
/* Sidebar Center */
.side-center>ul {
    list-style: none;
}

.side-center>ul>li>a {
    color: #6b6b6b;
    text-decoration: none;
}






header {
	height: 90px;
    background-color: rgba(1, 1, 1, 0.1);
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 0 20px;
}

header>a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 12px 40px;
    font-size: 12px;
    font-weight: 500;
}

nav>ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 20px;
}

nav>ul>li {
    padding: 0 10px;
}

nav>ul>li>a {
    color: #7d7f84;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
}




footer {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #282828;
}

.left-footer, .center-footer, .right-footer {
    height: 10px;
    background-color: blue;
}



/* 

.sidebar-container>ul>li>.home {
    color: #fff;
}


.sidebar-container>ul {
    margin-top: 30px;
    list-style: none;
    line-height: 30px;
}

.sidebar-container>ul>li>a {
    text-decoration: none;
    color: #6b6b6b;
}

.sidebar-container>ul>li>a>img {
    width: 12%;
}

.sidebar-container>ul>li>span {
    color: #7d7f84;
}


.fa-plus-square {
    font-size: 20px;
}

.playlist {
    color: #fff;
} */ 

